__pycache__/

# Captured image and txt file produced 
reference_data/reference_array.txt
images/captured_image.jpg

# Output g-code file
output.nc

# GUI Test
test_menu.py

# Test driver files
driver.py
driver2.py
test_menu.py